.main,
.sidebar { display:block; width:100%; }

.content { padding: 5px; }
.sidebar { }

#logo a { margin-left: 5px; color: #e2dcc3; display: block; text-decoration: none; }

#back-btn { display: none; }

h2 { color: #e1c140; text-shadow: 1px 1px 0 #000000;  }

.ui-content { width: 900px;}
#login-btn { background: #509836; }

.user-box {
	float: right;
}

#page { background: url('stripes.png');}

#footer { background: #2e2923; border: none; }

/* 
Breakpoint @ 576px
Everything will assume a standard "desktop" view here.	
*/
@media all and (min-width: 36em){
	.main { float: left; width:60%; }
	.sidebar { float: left; width:40%; }
	#mobile-head { display: none; }
}

/* 
Breakpoint @ 800px 
Tablet Sized View
*/
@media all and (min-width: 50em){
	.main { width:70%; }
	.sidebar { width:30%; }
}

/*
Mobile View
*/
@media all and (max-width: 36em) { 	
	.main { max-width: 100%; }
	.sidebar { display: none; }
	.hide { display: none; }
	#expand { width: 33%;}
	#logo { text-align: center; }
}

.success { padding:5px; font-weight: bold; background: green; margin: 5px 0; }

#foothref { text-decoration: none; }
#sb { max-width: 300px;}